body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #f8f9fa, #e6f0ff); */
    background: linear-gradient(to bottom right, #f5f7fa, #d0e1ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
  }
  
  .auth-container {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 1.5rem;
    color: #3a3a3a;
    font-size: 1.8rem;
  }
  
  .auth-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f4f8fb;
  }
  
  .auth-container button {
    /* width: 100%; */
    padding: 0.75rem 1.5rem;
    /* background-color: #70b5ff; */
    background-color: #7b9fff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-container button:hover {
    /* background-color: #559de0; */
    background-color: #5c82e0;
  }
  
  .auth-container p {
    margin-top: 1rem;
    font-size: 1.0rem;
  }
  
  .auth-container a {
    /* color: #559de0; */
    color: #5c82e0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  #signup-error-message {
    color: #d9534f;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }